In [33]:
#Importando las librerias necesarias para el analisis de GEIH
import pandas as pd
import numpy as np

In [34]:
#Leyendo los datos de la geihs
df_cgsse = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/cgsse.CSV"
                       ,encoding="latin", sep=';')
df_cgsse

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20250626,6,2025,8238974,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
1,20250626,6,2025,8238974,1,2,1,10,NaN,2,...,2.0,NaN,5.0,1.0,NaN,1.0,NaN,2.0,1.0,1.0
2,20250626,6,2025,8238975,1,1,1,10,NaN,2,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
3,20250626,6,2025,8238975,1,2,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,2.0,1.0,1.0
4,20250626,6,2025,8238975,1,3,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67851,20250626,6,2025,8283060,1,1,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
67852,20250626,6,2025,8283060,1,2,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
67853,20250626,6,2025,8283062,1,1,1,10,94.0,1,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
67854,20250626,6,2025,8283062,1,2,1,10,94.0,1,...,2.0,NaN,3.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
67855,20250626,6,2025,8283062,1,3,1,10,94.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0

In [35]:
df_d = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/No%20ocupados.CSV"
                             ,encoding="latin", sep=';')
df_d

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P7360,P9460,P1519,P1883,P7422,P7422S1,OFICIO1_C8,OFICIO2_C8,RAMA2D_D_R4,RAMA4D_D_R4
0,20250626,6,2025,8238975,1,2,1,70,NaN,2,...,1.0,2.0,2,NaN,2,NaN,.,6112,1.0,0123
1,20250626,6,2025,8238978,1,1,1,70,NaN,2,...,1.0,2.0,2,NaN,2,NaN,.,9211,1.0,0161
2,20250626,6,2025,8238980,1,2,1,70,NaN,2,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.
3,20250626,6,2025,8238981,1,2,1,70,NaN,2,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.
4,20250626,6,2025,8238983,1,2,1,70,NaN,2,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24739,20250626,6,2025,8283056,1,1,1,70,27.0,1,...,10.0,2.0,3,NaN,2,NaN,.,2341,85.0,8530
24740,20250626,6,2025,8283059,1,1,1,70,76.0,1,...,6.0,2.0,2,NaN,2,NaN,5223,5113,55.0,5511
24741,20250626,6,2025,8283060,1,1,1,70,88.0,1,...,9.0,2.0,2,NaN,2,NaN,.,9334,47.0,4711
24742,20250626,6,2025,8283062,1,2,1,70,94.0,1,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.
24743,20250626,6,2025,8283062,1,3,1,70,94.0,1,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.

In [36]:
df_o = pd.read_csv ("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Ocupados.CSV"
                           ,encoding="latin", sep=';')
df_o

/tmp/ipykernel_2931/1250740375.py:1: DtypeWarning: Columns (28,89,133,147,158) have mixed types. Specify dtype option on import or set low_memory=False.
  df_o = pd.read_csv ("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Ocupados.CSV"

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P1881,P1881S1,P1882,P7240,P7240S1,OCI,INGLABO,RAMA2D_R4,RAMA4D_R4,OFICIO_C8
0,20250626,6,2025,8238974,1,1,1,60,NaN,2,...,3,NaN,3.0,3,NaN,1,950000.0,1,113,6111
1,20250626,6,2025,8238974,1,2,1,60,NaN,2,...,3,NaN,4.0,5,NaN,1,NaN,1,113,6111
2,20250626,6,2025,8238975,1,1,1,60,NaN,2,...,3,NaN,10.0,3,NaN,1,700000.0,1,113,6114
3,20250626,6,2025,8238975,1,3,1,60,NaN,2,...,3,NaN,10.0,3,NaN,1,2000000.0,1,145,6122
4,20250626,6,2025,8238976,1,1,1,60,NaN,2,...,14,NaN,NaN,8,NaN,1,600000.0,1,122,6112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29701,20250626,6,2025,8283057,1,3,1,60,41.0,1,...,8,NaN,25.0,5,NaN,1,3800000.0,85,8544,2310
29702,20250625,6,2025,8283058,1,1,1,60,NaN,1,...,14,NaN,NaN,2,NaN,1,3000000.0,71,7111,2161
29703,20250625,6,2025,8283058,1,2,1,60,NaN,1,...,3,NaN,10.0,1,NaN,1,1500000.0,47,4752,1420
29704,20250626,6,2025,8283060,1,2,1,60,88.0,1,...,3,NaN,10.0,8,NaN,1,500000.0,56,5619,7512
29705,20250626,6,2025,8283062,1,1,1,60,94.0,1,...,9,NaN,300.0,8,NaN,1,900000.0,3,312,6222

In [37]:
df_ft = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Fuerza%20de%20trabajo.CSV"
                                ,encoding="latin", sep=';')
df_ft

/tmp/ipykernel_2931/979928258.py:1: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ft = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Fuerza%20de%20trabajo.CSV"

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P3362S8,P3362S7A1,P6300,P6310,P6310S1,P6320,P6330,P6340,P6350,P6351
0,20250626,6,2025,8238974,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250626,6,2025,8238974,1,2,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20250626,6,2025,8238975,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20250626,6,2025,8238975,1,2,1,50,NaN,2,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250626,6,2025,8238975,1,3,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54445,20250626,6,2025,8283060,1,1,1,50,88.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54446,20250626,6,2025,8283060,1,2,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54447,20250626,6,2025,8283062,1,1,1,50,94.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54448,20250626,6,2025,8283062,1,2,1,50,94.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54449,20250626,6,2025,8283062,1,3,1,50,94.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df_cgsse[['DIRECTORIO','SECUENCIA_P','ORDEN', 'FEX_C18']]

       DIRECTORIO  SECUENCIA_P  ORDEN    FEX_C18
0         8238974            1      1  67.484133
1         8238974            1      2  67.484133
2         8238975            1      1  54.337978
3         8238975            1      2  54.337978
4         8238975            1      3  54.337978
...           ...          ...    ...        ...
67851     8283060            1      1  47.033269
67852     8283060            1      2  47.033269
67853     8283062            1      1  32.850300
67854     8283062            1      2  32.850300
67855     8283062            1      3  32.850300

[67856 rows x 4 columns]

In [39]:
#DIRECTORIO: Identifica la vivienda
#SECUENCIA_P : Identifica el hogar
#ORDEN: Personas en la vivienda

In [40]:
df_cgsse['DIRECTORIO'].unique().tolist()

[8238974,
 8238975,
 8238976,
 8238977,
 8238978,
 8238979,
 8238980,
 8238981,
 8238982,
 8238983,
 8238984,
 8238985,
 8238986,
 8238987,
 8238988,
 8238989,
 8238990,
 8238991,
 8238992,
 8238993,
 8238994,
 8238995,
 8238996,
 8238997,
 8238998,
 8238999,
 8239000,
 8239001,
 8239002,
 8239003,
 8239004,
 8239005,
 8239006,
 8239007,
 8239008,
 8239009,
 8239010,
 8239011,
 8239012,
 8239013,
 8239014,
 8239015,
 8239016,
 8239017,
 8239018,
 8239019,
 8239020,
 8239021,
 8239022,
 8239023,
 8239024,
 8239025,
 8239026,
 8239027,
 8239028,
 8239029,
 8239030,
 8239031,
 8239032,
 8239033,
 8239034,
 8239035,
 8239036,
 8239037,
 8239038,
 8239039,
 8239040,
 8239041,
 8239042,
 8239043,
 8239044,
 8239045,
 8239046,
 8239047,
 8239048,
 8239049,
 8239050,
 8239051,
 8239052,
 8239053,
 8239054,
 8239055,
 8239056,
 8239057,
 8239060,
 8239061,
 8239062,
 8239063,
 8239064,
 8239065,
 8239066,
 8239067,
 8239068,
 8239069,
 8239070,
 8239071,
 8239072,
 8239073,
 8239074,
 8239075,
 8239076,
 8239077,
 8239078,
 8239079,
 8239080,
 8239081,
 8239082,
 8239083,
 8239084,
 8239085,
 8239086,
 8239087,
 8239088,
 8239089,
 8239090,
 8239091,
 8239092,
 8239093,
 8239094,
 8239095,
 8239096,
 8239097,
 8239098,
 8239099,
 8239100,
 8239101,
 8239102,
 8239103,
 8239105,
 8239106,
 8239107,
 8239108,
 8239109,
 8239110,
 8239111,
 8239112,
 8239113,
 8239114,
 8239115,
 8239116,
 8239117,
 8239118,
 8239119,
 8239120,
 8239121,
 8239122,
 8239123,
 8239124,
 8239125,
 8239126,
 8239127,
 8239128,
 8239129,
 8239130,
 8239131,
 8239132,
 8239133,
 8239134,
 8239135,
 8239136,
 8239137,
 8239138,
 8239140,
 8239142,
 8239145,
 8239146,
 8239148,
 8239149,
 8239150,
 8239151,
 8239152,
 8239153,
 8239154,
 8239155,
 8239156,
 8239157,
 8239158,
 8239159,
 8239160,
 8239161,
 8239162,
 8239163,
 8239164,
 8239165,
 8239166,
 8239167,
 8239168,
 8239169,
 8239170,
 8239171,
 8239172,
 8239173,
 8239174,
 8239175,
 8239176,
 8239177,
 8239178,
 8239179,
 8239180,
 8239181,
 8239182,
 8239183,
 8239184,
 8239185,
 8239186,
 8239187,
 8239188,
 8239189,
 8239190,
 8239192,
 8239193,
 8239194,
 8239195,
 8239196,
 8239197,
 8239198,
 8239202,
 8239203,
 8239205,
 8239206,
 8239207,
 8239208,
 8239209,
 8239210,
 8239211,
 8239214,
 8239215,
 8239216,
 8239217,
 8239218,
 8239219,
 8239221,
 8239223,
 8239225,
 8239226,
 8239227,
 8239228,
 8239229,
 8239230,
 8239231,
 8239232,
 8239233,
 8239234,
 8239235,
 8239236,
 8239237,
 8239238,
 8239239,
 8239240,
 8239241,
 8239243,
 8239244,
 8239246,
 8239247,
 8239248,
 8239249,
 8239250,
 8239251,
 8239252,
 8239253,
 8239254,
 8239255,
 8239256,
 8239257,
 8239258,
 8239259,
 8239260,
 8239261,
 8239262,
 8239263,
 8239264,
 8239265,
 8239266,
 8239267,
 8239268,
 8239269,
 8239270,
 8239271,
 8239272,
 8239273,
 8239274,
 8239275,
 8239276,
 8239277,
 8239278,
 8239279,
 8239280,
 8239281,
 8239282,
 8239283,
 8239284,
 8239285,
 8239286,
 8239287,
 8239290,
 8239291,
 8239292,
 8239293,
 8239294,
 8239295,
 8239296,
 8239298,
 8239299,
 8239300,
 8239301,
 8239303,
 8239304,
 8239305,
 8239307,
 8239308,
 8239309,
 8239310,
 8239311,
 8239312,
 8239313,
 8239314,
 8239315,
 8239316,
 8239317,
 8239318,
 8239319,
 8239320,
 8239321,
 8239322,
 8239323,
 8239324,
 8239325,
 8239326,
 8239327,
 8239328,
 8239329,
 8239330,
 8239331,
 8239332,
 8239333,
 8239334,
 8239335,
 8239337,
 8239338,
 8239339,
 8239340,
 8239341,
 8239342,
 8239343,
 8239344,
 8239345,
 8239346,
 8239347,
 8239349,
 8239350,
 8239351,
 8239352,
 8239353,
 8239354,
 8239355,
 8239356,
 8239357,
 8239358,
 8239360,
 8239361,
 8239362,
 8239363,
 8239364,
 8239365,
 8239366,
 8239367,
 8239369,
 8239370,
 8239371,
 8239372,
 8239373,
 8239374,
 8239375,
 8239376,
 8239377,
 8239378,
 8239379,
 8239380,
 8239381,
 8239382,
 8239384,
 8239385,
 8239386,
 8239387,
 8239388,
 8239389,
 8239390,
 8239391,
 8239392,
 8239393,
 8239399,
 8239402,
 8239403,
 8239405,
 8239408,
 8239409,
 8239411,
 8239412,
 8239413,
 8239414,
 8239415,
 8239417,
 8239418,
 8239419,
 8239420,
 8239421,
 8239423,
 8239424,
 8239425,
 8239426,
 8239427,
 8239428,
 8239429,
 8239430,
 8239431,
 8239432,
 8239433,
 8239434,
 8239435,
 8239436,
 8239437,
 8239438,
 8239439,
 8239440,
 8239442,
 8239443,
 8239444,
 8239445,
 8239446,
 8239447,
 8239448,
 8239450,
 8239451,
 8239452,
 8239453,
 8239454,
 8239455,
 8239456,
 8239457,
 8239458,
 8239459,
 8239461,
 8239463,
 8239464,
 8239465,
 8239466,
 8239467,
 8239468,
 8239469,
 8239470,
 8239471,
 8239472,
 8239473,
 8239474,
 8239476,
 8239478,
 8239479,
 8239480,
 8239481,
 8239482,
 8239483,
 8239484,
 8239485,
 8239486,
 8239487,
 8239488,
 8239489,
 8239490,
 8239492,
 8239493,
 8239495,
 8239496,
 8239497,
 8239498,
 8239499,
 8239500,
 8239502,
 8239504,
 8239505,
 8239506,
 8239507,
 8239508,
 8239509,
 8239510,
 8239511,
 8239512,
 8239513,
 8239514,
 8239515,
 8239517,
 8239518,
 8239519,
 8239520,
 8239521,
 8239522,
 8239523,
 8239524,
 8239525,
 8239526,
 8239527,
 8239528,
 8239529,
 8239530,
 8239531,
 8239532,
 8239533,
 8239534,
 8239535,
 8239536,
 8239537,
 8239538,
 8239540,
 8239541,
 8239542,
 8239543,
 8239544,
 8239545,
 8239546,
 8239547,
 8239548,
 8239549,
 8239550,
 8239551,
 8239554,
 8239555,
 8239556,
 8239557,
 8239558,
 8239559,
 8239561,
 8239562,
 8239563,
 8239564,
 8239565,
 8239566,
 8239567,
 8239568,
 8239570,
 8239571,
 8239572,
 8239573,
 8239574,
 8239576,
 8239577,
 8239578,
 8239579,
 8239580,
 8239581,
 8239582,
 8239583,
 8239584,
 8239585,
 8239586,
 8239587,
 8239588,
 8239589,
 8239590,
 8239591,
 8239592,
 8239593,
 8239594,
 8239595,
 8239596,
 8239597,
 8239599,
 8239600,
 8239601,
 8239602,
 8239603,
 8239605,
 8239606,
 8239607,
 8239608,
 8239609,
 8239611,
 8239612,
 8239613,
 8239614,
 8239615,
 8239616,
 8239618,
 8239619,
 8239620,
 8239621,
 8239622,
 8239623,
 8239624,
 8239625,
 8239626,
 8239627,
 8239628,
 8239629,
 8239632,
 8239633,
 8239634,
 8239635,
 8239636,
 8239637,
 8239638,
 8239639,
 8239640,
 8239641,
 8239642,
 8239643,
 8239644,
 8239645,
 8239646,
 8239647,
 8239648,
 8239650,
 8239651,
 8239652,
 8239653,
 8239654,
 8239655,
 8239656,
 8239657,
 8239658,
 8239659,
 8239660,
 8239661,
 8239663,
 8239664,
 8239665,
 8239666,
 8239668,
 8239669,
 8239670,
 8239671,
 8239672,
 8239673,
 8239674,
 8239675,
 8239676,
 8239677,
 8239678,
 8239679,
 8239680,
 8239681,
 8239683,
 8239684,
 8239685,
 8239686,
 8239687,
 8239688,
 8239690,
 8239691,
 8239692,
 8239693,
 8239694,
 8239695,
 8239696,
 8239697,
 8239698,
 8239699,
 8239700,
 8239701,
 8239702,
 8239704,
 8239706,
 8239708,
 8239709,
 8239710,
 8239712,
 8239713,
 8239714,
 8239715,
 8239718,
 8239719,
 8239720,
 8239721,
 8239723,
 8239724,
 8239725,
 8239727,
 8239728,
 8239729,
 8239730,
 8239732,
 8239733,
 8239734,
 8239735,
 8239736,
 8239737,
 8239738,
 8239739,
 8239740,
 8239741,
 8239742,
 8239743,
 8239744,
 8239745,
 8239746,
 8239747,
 8239748,
 8239749,
 8239750,
 8239751,
 8239752,
 8239753,
 8239754,
 8239755,
 8239756,
 8239757,
 8239758,
 8239759,
 8239760,
 8239761,
 8239762,
 8239763,
 8239764,
 8239765,
 8239767,
 8239768,
 8239769,
 8239770,
 8239771,
 8239772,
 8239773,
 8239774,
 8239777,
 8239778,
 8239779,
 8239780,
 8239781,
 8239782,
 8239783,
 8239784,
 8239785,
 8239786,
 8239788,
 8239789,
 8239791,
 8239792,
 8239793,
 8239794,
 8239795,
 8239797,
 8239798,
 8239799,
 8239800,
 8239801,
 8239802,
 8239803,
 8239804,
 8239805,
 8239806,
 8239807,
 8239808,
 8239809,
 8239810,
 8239811,
 8239812,
 8239813,
 8239814,
 8239815,
 8239816,
 8239817,
 8239818,
 8239819,
 8239820,
 8239821,
 8239822,
 8239823,
 8239825,
 8239826,
 8239827,
 8239828,
 8239829,
 8239830,
 8239831,
 8239832,
 8239833,
 8239834,
 8239835,
 8239836,
 8239837,
 8239839,
 8239840,
 8239841,
 8239842,
 8239843,
 8239844,
 8239845,
 8239846,
 8239850,
 8239851,
 8239852,
 8239853,
 8239854,
 8239855,
 8239858,
 8239859,
 8239860,
 8239861,
 8239862,
 8239863,
 8239864,
 8239865,
 8239866,
 8239867,
 8239868,
 8239869,
 8239870,
 8239871,
 8239872,
 8239873,
 8239874,
 8239875,
 8239876,
 8239877,
 8239878,
 8239879,
 8239881,
 8239882,
 8239883,
 8239885,
 8239886,
 8239887,
 8239888,
 8239889,
 8239890,
 8239892,
 8239893,
 8239895,
 8239896,
 8239897,
 8239898,
 8239900,
 8239901,
 8239902,
 8239903,
 8239904,
 8239905,
 8239906,
 8239907,
 8239908,
 8239912,
 8239914,
 8239915,
 8239916,
 8239917,
 8239920,
 8239921,
 8239922,
 8239923,
 8239924,
 8239925,
 8239926,
 8239927,
 8239928,
 8239929,
 8239931,
 8239932,
 8239933,
 8239934,
 8239935,
 8239937,
 8239939,
 8239940,
 8239941,
 8239942,
 8239943,
 8239944,
 8239945,
 8239946,
 8239947,
 8239948,
 8239950,
 8239952,
 8239953,
 8239955,
 8239956,
 8239957,
 8239959,
 8239960,
 8239961,
 8239962,
 8239964,
 8239968,
 8239969,
 8239970,
 8239971,
 8239973,
 8239975,
 8239976,
 8239977,
 8239978,
 8239979,
 8239980,
 8239982,
 8239983,
 8239984,
 8239985,
 8239986,
 8239988,
 8239989,
 8239990,
 8239991,
 8239992,
 8239993,
 8239994,
 8239995,
 8239996,
 8239997,
 8239998,
 8239999,
 8240000,
 8240002,
 8240003,
 8240004,
 8240006,
 8240007,
 8240008,
 8240009,
 8240010,
 8240011,
 8240012,
 8240013,
 8240014,
 8240015,
 8240016,
 8240017,
 8240018,
 8240019,
 8240020,
 8240021,
 8240022,
 8240023,
 8240025,
 8240027,
 8240028,
 8240031,
 8240032,
 8240033,
 8240034,
 8240035,
 8240036,
 8240037,
 8240038,
 8240039,
 8240040,
 8240041,
 8240042,
 8240043,
 8240044,
 8240045,
 8240046,
 8240047,
 8240048,
 8240049,
 8240050,
 8240051,
 8240052,
 8240053,
 8240054,
 8240055,
 8240058,
 8240059,
 8240061,
 8240062,
 8240063,
 8240064,
 8240065,
 8240066,
 8240067,
 8240068,
 8240069,
 8240070,
 8240071,
 8240073,
 8240074,
 8240075,
 8240076,
 8240077,
 8240078,
 8240079,
 8240080,
 8240081,
 8240082,
 8240083,
 8240084,
 8240085,
 8240086,
 8240088,
 8240090,
 8240091,
 8240092,
 8240093,
 8240094,
 8240095,
 8240096,
 8240097,
 8240101,
 8240102,
 8240103,
 8240104,
 8240105,
 8240106,
 8240107,
 ...]

In [41]:
#CON ESTE CODIGO PODEMOS VER INFO DE UN DIRECTORIO EN ESPECIFICO PARA SACAR CONCLUSIONES
df_cgsse[df_cgsse['DIRECTORIO']==8238998]

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
62,20250626,6,2025,8238998,1,1,1,10,NaN,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
63,20250626,6,2025,8238998,1,2,1,10,NaN,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
64,20250626,6,2025,8238998,1,3,1,10,NaN,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
65,20250626,6,2025,8238998,1,4,1,10,NaN,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,1.0,1.0

In [42]:
#CALCULAR POBLACION TOTAL
int(df_cgsse['FEX_C18'].sum())

52045001

In [43]:
int(df_cgsse['FEX_C18'].sum())

#Calculo de la poblacion total de hombres
PH= df_cgsse[df_cgsse['P3271']==1]['FEX_C18'].sum()

#Calculo de la poblacion total de mujere
PM=df_cgsse[df_cgsse['P3271']==2]['FEX_C18'].sum()

print(f'Poblacion total de hombres: {PH}')
print(f'Poblacion total de mujeres: {PM}')

Poblacion total de hombres: 25304270.000003804
Poblacion total de mujeres: 26740731.000005245

DEPARTAMENTO DEL QUINDÍO

In [44]:
PQ = df_cgsse[df_cgsse["DPTO"]==63]["FEX_C18"].sum()
print(f" POBLACION QUINDIO: {PQ}")

 POBLACION QUINDIO: 603068.649439007

In [45]:
PHQ = df_cgsse[(df_cgsse["DPTO"]==63) & (df_cgsse["P3271"]==1)]["FEX_C18"].sum()
PMQ = df_cgsse[(df_cgsse["DPTO"]==63) & (df_cgsse["P3271"]==2)]["FEX_C18"].sum()
print("HOMBRES QUINDÍO", int (PHQ))
print("MUJERES QUINDÍO", int (PMQ))

HOMBRES QUINDÍO 297925
MUJERES QUINDÍO 305143

25/08/2025

In [46]:
#POBLACION OCUPADOS
int(df_o['FEX_C18'].sum())

23752952

In [47]:
#POBLACION FUERZA DE TRABAJO
int(df_ft['FEX_C18'].sum())

40653416

In [48]:
#POBLACION DESOCUPADOS
int(df_d['FEX_C18'].sum())

16900463

In [49]:
#POBLACION TOTAL O DE FUERZA DE TRABAJO 
16900463+23752952

40653415

In [50]:
#CALCULO DE HOMBRES EN DESEMPLEO
df_d_genero =

SyntaxError: invalid syntax (1313334499.py, line 2)

In [ ]:
df_o_genero = pd.merge(df_o, df_cgsse[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'P3271']], 
                        on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how='left')

In [ ]:
#Calculo de hombres ocupados 
dh = df_o_genero[df_o_genero['P3271'] == 1]['FEX_C18'].sum()

#Calculo de mujeres ocupadas 

dm = df_o_genero[df_o_genero['P3271'] == 2]['FEX_C18'].sum()

print (f'Hombres en empleo: {int(dh)}')
print (f'Mujeres en empleo: {int(dm)}')

Hombres en empleo: 13860862
Mujeres en empleo: 9892089

In [ ]:
df_d_genero = pd.merge(df_d, df_cgsse[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'P3271']], 
                        on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how='left')

In [ ]:

#Calculo de hombres ocupados 
dh = df_d_genero[df_d_genero['P3271'] == 1]['FEX_C18'].sum()

#Calculo de mujeres ocupadas 

dm = df_d_genero[df_d_genero['P3271'] == 2]['FEX_C18'].sum()

print (f'Hombres en desempleo: {int(dh)}')
print (f'Mujeres en desempleo: {int(dm)}')

Hombres en desempleo: 5637651
Mujeres en desempleo: 11262812

In [ ]:
df_d.columns

Index(['PERIODO', 'MES', 'PER', 'DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'HOGAR',
       'REGIS', 'AREA', 'CLASE', 'FEX_C18', 'DPTO', 'FFT', 'DSI', 'P7250',
       'P7280', 'P7280S1', 'P744', 'P3074', 'P7260', 'P1806', 'P7430', 'P7440',
       'P7440S1', 'P7440S2', 'P7450', 'P7350', 'P7360', 'P9460', 'P1519',
       'P1883', 'P7422', 'P7422S1', 'OFICIO1_C8', 'OFICIO2_C8', 'RAMA2D_D_R4',
       'RAMA4D_D_R4'],
      dtype='object')

EJERCICIO DE LA COMMIT

In [53]:
df_cgsse = pd.read_csv("https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2025/cgsse.CSV",encoding = "latin", sep=";")

In [ ]:
df_cgsse = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/cgsse.CSV'
                       ,encoding='latin',sep=';'
                       )

df_o = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Ocupados.CSV'
                       ,encoding='latin',sep=';'
                       )

df_d = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/No%20ocupados.CSV'
                       ,encoding='latin',sep=';'
                       )

df_ft = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Fuerza%20de%20trabajo.CSV'
                       ,encoding='latin',sep=';'

In [54]:
url_cgsse = ('https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2025/cgsse.CSV')
url_ocupados = 'https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2025/Ocupados.CSV'
url_ft = 'https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2025/Fuerza%20de%20trabajo.CSV'
url_desocupados = 'https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2025/No%20ocupados.CSV'

In [56]:
#CGSSE
df_cgsse = pd.read_csv(url_cgsse, encoding='latin-1', sep=';', low_memory=False)
#ocupados
df_ocupados=pd.read_csv(url_ocupados,encoding='latin-1',sep=';',
                        low_memory=False)
#fuerza de trabajo
df_ft=pd.read_csv(url_ft,
                  encoding='latin-1',sep=';',low_memory=False)
#no ocupados
df_desocupados=pd.read_csv(url_desocupados,encoding='latin-1',
                           sep=';',low_memory=False)

In [57]:
df_cgsse

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20250626,6,2025,8238974,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
1,20250626,6,2025,8238974,1,2,1,10,NaN,2,...,2.0,NaN,5.0,1.0,NaN,1.0,NaN,2.0,1.0,1.0
2,20250626,6,2025,8238975,1,1,1,10,NaN,2,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
3,20250626,6,2025,8238975,1,2,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,2.0,1.0,1.0
4,20250626,6,2025,8238975,1,3,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67851,20250626,6,2025,8283060,1,1,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
67852,20250626,6,2025,8283060,1,2,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
67853,20250626,6,2025,8283062,1,1,1,10,94.0,1,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
67854,20250626,6,2025,8283062,1,2,1,10,94.0,1,...,2.0,NaN,3.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
67855,20250626,6,2025,8283062,1,3,1,10,94.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0

In [58]:
df_cgsse['FEX_C18'].sum()

np.float64(52045001.000009045)

In [60]:
df_ocupados

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P1881,P1881S1,P1882,P7240,P7240S1,OCI,INGLABO,RAMA2D_R4,RAMA4D_R4,OFICIO_C8
0,20250626,6,2025,8238974,1,1,1,60,NaN,2,...,3,NaN,3.0,3,NaN,1,950000.0,1,113,6111
1,20250626,6,2025,8238974,1,2,1,60,NaN,2,...,3,NaN,4.0,5,NaN,1,NaN,1,113,6111
2,20250626,6,2025,8238975,1,1,1,60,NaN,2,...,3,NaN,10.0,3,NaN,1,700000.0,1,113,6114
3,20250626,6,2025,8238975,1,3,1,60,NaN,2,...,3,NaN,10.0,3,NaN,1,2000000.0,1,145,6122
4,20250626,6,2025,8238976,1,1,1,60,NaN,2,...,14,NaN,NaN,8,NaN,1,600000.0,1,122,6112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29701,20250626,6,2025,8283057,1,3,1,60,41.0,1,...,8,NaN,25.0,5,NaN,1,3800000.0,85,8544,2310
29702,20250625,6,2025,8283058,1,1,1,60,NaN,1,...,14,NaN,NaN,2,NaN,1,3000000.0,71,7111,2161
29703,20250625,6,2025,8283058,1,2,1,60,NaN,1,...,3,NaN,10.0,1,NaN,1,1500000.0,47,4752,1420
29704,20250626,6,2025,8283060,1,2,1,60,88.0,1,...,3,NaN,10.0,8,NaN,1,500000.0,56,5619,7512
29705,20250626,6,2025,8283062,1,1,1,60,94.0,1,...,9,NaN,300.0,8,NaN,1,900000.0,3,312,6222

In [59]:
df_ft

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P3362S8,P3362S7A1,P6300,P6310,P6310S1,P6320,P6330,P6340,P6350,P6351
0,20250626,6,2025,8238974,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250626,6,2025,8238974,1,2,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20250626,6,2025,8238975,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20250626,6,2025,8238975,1,2,1,50,NaN,2,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250626,6,2025,8238975,1,3,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54445,20250626,6,2025,8283060,1,1,1,50,88.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54446,20250626,6,2025,8283060,1,2,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54447,20250626,6,2025,8283062,1,1,1,50,94.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54448,20250626,6,2025,8283062,1,2,1,50,94.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54449,20250626,6,2025,8283062,1,3,1,50,94.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df_desocupados

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P7360,P9460,P1519,P1883,P7422,P7422S1,OFICIO1_C8,OFICIO2_C8,RAMA2D_D_R4,RAMA4D_D_R4
0,20250626,6,2025,8238975,1,2,1,70,NaN,2,...,1.0,2.0,2,NaN,2,NaN,.,6112,1.0,0123
1,20250626,6,2025,8238978,1,1,1,70,NaN,2,...,1.0,2.0,2,NaN,2,NaN,.,9211,1.0,0161
2,20250626,6,2025,8238980,1,2,1,70,NaN,2,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.
3,20250626,6,2025,8238981,1,2,1,70,NaN,2,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.
4,20250626,6,2025,8238983,1,2,1,70,NaN,2,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24739,20250626,6,2025,8283056,1,1,1,70,27.0,1,...,10.0,2.0,3,NaN,2,NaN,.,2341,85.0,8530
24740,20250626,6,2025,8283059,1,1,1,70,76.0,1,...,6.0,2.0,2,NaN,2,NaN,5223,5113,55.0,5511
24741,20250626,6,2025,8283060,1,1,1,70,88.0,1,...,9.0,2.0,2,NaN,2,NaN,.,9334,47.0,4711
24742,20250626,6,2025,8283062,1,2,1,70,94.0,1,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.
24743,20250626,6,2025,8283062,1,3,1,70,94.0,1,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.

In [62]:
#nueva celda para el ejemplo del commit
df_o.head()

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P1881,P1881S1,P1882,P7240,P7240S1,OCI,INGLABO,RAMA2D_R4,RAMA4D_R4,OFICIO_C8
0,20250626,6,2025,8238974,1,1,1,60,NaN,2,...,3,NaN,3.0,3,NaN,1,950000.0,1,113,6111
1,20250626,6,2025,8238974,1,2,1,60,NaN,2,...,3,NaN,4.0,5,NaN,1,NaN,1,113,6111
2,20250626,6,2025,8238975,1,1,1,60,NaN,2,...,3,NaN,10.0,3,NaN,1,700000.0,1,113,6114
3,20250626,6,2025,8238975,1,3,1,60,NaN,2,...,3,NaN,10.0,3,NaN,1,2000000.0,1,145,6122
4,20250626,6,2025,8238976,1,1,1,60,NaN,2,...,14,NaN,NaN,8,NaN,1,600000.0,1,122,6112

In [63]:
df_cgsse2 =  pd.read_csv("https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2025/cgsse.CSV",encoding = "latin", sep=";")
df_cgsse2

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20250626,6,2025,8238974,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
1,20250626,6,2025,8238974,1,2,1,10,NaN,2,...,2.0,NaN,5.0,1.0,NaN,1.0,NaN,2.0,1.0,1.0
2,20250626,6,2025,8238975,1,1,1,10,NaN,2,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
3,20250626,6,2025,8238975,1,2,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,2.0,1.0,1.0
4,20250626,6,2025,8238975,1,3,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67851,20250626,6,2025,8283060,1,1,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
67852,20250626,6,2025,8283060,1,2,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
67853,20250626,6,2025,8283062,1,1,1,10,94.0,1,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
67854,20250626,6,2025,8283062,1,2,1,10,94.0,1,...,2.0,NaN,3.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
67855,20250626,6,2025,8283062,1,3,1,10,94.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0

In [64]:
url_cgsse2025 = ('https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2025/cgsse.CSV')
url_ocupados2025 = ('https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2025/Ocupados.CSV')
url_ft2025= ('https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2025/Fuerza%20de%20trabajo.CSV')
url_desocupados2025 = ('https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2025/No%20ocupados.CSV')

In [65]:
df_cgsse2 = pd.read_csv(url_cgsse, encoding='latin-1', sep=';', low_memory=False)
df_cgsse2

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20250626,6,2025,8238974,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
1,20250626,6,2025,8238974,1,2,1,10,NaN,2,...,2.0,NaN,5.0,1.0,NaN,1.0,NaN,2.0,1.0,1.0
2,20250626,6,2025,8238975,1,1,1,10,NaN,2,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
3,20250626,6,2025,8238975,1,2,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,2.0,1.0,1.0
4,20250626,6,2025,8238975,1,3,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67851,20250626,6,2025,8283060,1,1,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
67852,20250626,6,2025,8283060,1,2,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
67853,20250626,6,2025,8283062,1,1,1,10,94.0,1,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
67854,20250626,6,2025,8283062,1,2,1,10,94.0,1,...,2.0,NaN,3.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
67855,20250626,6,2025,8283062,1,3,1,10,94.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0

In [66]:
df_cgsse2[["DIRECTORIO","SECUENCIA_P","ORDEN"]]

       DIRECTORIO  SECUENCIA_P  ORDEN
0         8238974            1      1
1         8238974            1      2
2         8238975            1      1
3         8238975            1      2
4         8238975            1      3
...           ...          ...    ...
67851     8283060            1      1
67852     8283060            1      2
67853     8283062            1      1
67854     8283062            1      2
67855     8283062            1      3

[67856 rows x 3 columns]

In [67]:
df_cgsse2["DIRECTORIO"].unique().tolist()

[8238974,
 8238975,
 8238976,
 8238977,
 8238978,
 8238979,
 8238980,
 8238981,
 8238982,
 8238983,
 8238984,
 8238985,
 8238986,
 8238987,
 8238988,
 8238989,
 8238990,
 8238991,
 8238992,
 8238993,
 8238994,
 8238995,
 8238996,
 8238997,
 8238998,
 8238999,
 8239000,
 8239001,
 8239002,
 8239003,
 8239004,
 8239005,
 8239006,
 8239007,
 8239008,
 8239009,
 8239010,
 8239011,
 8239012,
 8239013,
 8239014,
 8239015,
 8239016,
 8239017,
 8239018,
 8239019,
 8239020,
 8239021,
 8239022,
 8239023,
 8239024,
 8239025,
 8239026,
 8239027,
 8239028,
 8239029,
 8239030,
 8239031,
 8239032,
 8239033,
 8239034,
 8239035,
 8239036,
 8239037,
 8239038,
 8239039,
 8239040,
 8239041,
 8239042,
 8239043,
 8239044,
 8239045,
 8239046,
 8239047,
 8239048,
 8239049,
 8239050,
 8239051,
 8239052,
 8239053,
 8239054,
 8239055,
 8239056,
 8239057,
 8239060,
 8239061,
 8239062,
 8239063,
 8239064,
 8239065,
 8239066,
 8239067,
 8239068,
 8239069,
 8239070,
 8239071,
 8239072,
 8239073,
 8239074,
 8239075,
 8239076,
 8239077,
 8239078,
 8239079,
 8239080,
 8239081,
 8239082,
 8239083,
 8239084,
 8239085,
 8239086,
 8239087,
 8239088,
 8239089,
 8239090,
 8239091,
 8239092,
 8239093,
 8239094,
 8239095,
 8239096,
 8239097,
 8239098,
 8239099,
 8239100,
 8239101,
 8239102,
 8239103,
 8239105,
 8239106,
 8239107,
 8239108,
 8239109,
 8239110,
 8239111,
 8239112,
 8239113,
 8239114,
 8239115,
 8239116,
 8239117,
 8239118,
 8239119,
 8239120,
 8239121,
 8239122,
 8239123,
 8239124,
 8239125,
 8239126,
 8239127,
 8239128,
 8239129,
 8239130,
 8239131,
 8239132,
 8239133,
 8239134,
 8239135,
 8239136,
 8239137,
 8239138,
 8239140,
 8239142,
 8239145,
 8239146,
 8239148,
 8239149,
 8239150,
 8239151,
 8239152,
 8239153,
 8239154,
 8239155,
 8239156,
 8239157,
 8239158,
 8239159,
 8239160,
 8239161,
 8239162,
 8239163,
 8239164,
 8239165,
 8239166,
 8239167,
 8239168,
 8239169,
 8239170,
 8239171,
 8239172,
 8239173,
 8239174,
 8239175,
 8239176,
 8239177,
 8239178,
 8239179,
 8239180,
 8239181,
 8239182,
 8239183,
 8239184,
 8239185,
 8239186,
 8239187,
 8239188,
 8239189,
 8239190,
 8239192,
 8239193,
 8239194,
 8239195,
 8239196,
 8239197,
 8239198,
 8239202,
 8239203,
 8239205,
 8239206,
 8239207,
 8239208,
 8239209,
 8239210,
 8239211,
 8239214,
 8239215,
 8239216,
 8239217,
 8239218,
 8239219,
 8239221,
 8239223,
 8239225,
 8239226,
 8239227,
 8239228,
 8239229,
 8239230,
 8239231,
 8239232,
 8239233,
 8239234,
 8239235,
 8239236,
 8239237,
 8239238,
 8239239,
 8239240,
 8239241,
 8239243,
 8239244,
 8239246,
 8239247,
 8239248,
 8239249,
 8239250,
 8239251,
 8239252,
 8239253,
 8239254,
 8239255,
 8239256,
 8239257,
 8239258,
 8239259,
 8239260,
 8239261,
 8239262,
 8239263,
 8239264,
 8239265,
 8239266,
 8239267,
 8239268,
 8239269,
 8239270,
 8239271,
 8239272,
 8239273,
 8239274,
 8239275,
 8239276,
 8239277,
 8239278,
 8239279,
 8239280,
 8239281,
 8239282,
 8239283,
 8239284,
 8239285,
 8239286,
 8239287,
 8239290,
 8239291,
 8239292,
 8239293,
 8239294,
 8239295,
 8239296,
 8239298,
 8239299,
 8239300,
 8239301,
 8239303,
 8239304,
 8239305,
 8239307,
 8239308,
 8239309,
 8239310,
 8239311,
 8239312,
 8239313,
 8239314,
 8239315,
 8239316,
 8239317,
 8239318,
 8239319,
 8239320,
 8239321,
 8239322,
 8239323,
 8239324,
 8239325,
 8239326,
 8239327,
 8239328,
 8239329,
 8239330,
 8239331,
 8239332,
 8239333,
 8239334,
 8239335,
 8239337,
 8239338,
 8239339,
 8239340,
 8239341,
 8239342,
 8239343,
 8239344,
 8239345,
 8239346,
 8239347,
 8239349,
 8239350,
 8239351,
 8239352,
 8239353,
 8239354,
 8239355,
 8239356,
 8239357,
 8239358,
 8239360,
 8239361,
 8239362,
 8239363,
 8239364,
 8239365,
 8239366,
 8239367,
 8239369,
 8239370,
 8239371,
 8239372,
 8239373,
 8239374,
 8239375,
 8239376,
 8239377,
 8239378,
 8239379,
 8239380,
 8239381,
 8239382,
 8239384,
 8239385,
 8239386,
 8239387,
 8239388,
 8239389,
 8239390,
 8239391,
 8239392,
 8239393,
 8239399,
 8239402,
 8239403,
 8239405,
 8239408,
 8239409,
 8239411,
 8239412,
 8239413,
 8239414,
 8239415,
 8239417,
 8239418,
 8239419,
 8239420,
 8239421,
 8239423,
 8239424,
 8239425,
 8239426,
 8239427,
 8239428,
 8239429,
 8239430,
 8239431,
 8239432,
 8239433,
 8239434,
 8239435,
 8239436,
 8239437,
 8239438,
 8239439,
 8239440,
 8239442,
 8239443,
 8239444,
 8239445,
 8239446,
 8239447,
 8239448,
 8239450,
 8239451,
 8239452,
 8239453,
 8239454,
 8239455,
 8239456,
 8239457,
 8239458,
 8239459,
 8239461,
 8239463,
 8239464,
 8239465,
 8239466,
 8239467,
 8239468,
 8239469,
 8239470,
 8239471,
 8239472,
 8239473,
 8239474,
 8239476,
 8239478,
 8239479,
 8239480,
 8239481,
 8239482,
 8239483,
 8239484,
 8239485,
 8239486,
 8239487,
 8239488,
 8239489,
 8239490,
 8239492,
 8239493,
 8239495,
 8239496,
 8239497,
 8239498,
 8239499,
 8239500,
 8239502,
 8239504,
 8239505,
 8239506,
 8239507,
 8239508,
 8239509,
 8239510,
 8239511,
 8239512,
 8239513,
 8239514,
 8239515,
 8239517,
 8239518,
 8239519,
 8239520,
 8239521,
 8239522,
 8239523,
 8239524,
 8239525,
 8239526,
 8239527,
 8239528,
 8239529,
 8239530,
 8239531,
 8239532,
 8239533,
 8239534,
 8239535,
 8239536,
 8239537,
 8239538,
 8239540,
 8239541,
 8239542,
 8239543,
 8239544,
 8239545,
 8239546,
 8239547,
 8239548,
 8239549,
 8239550,
 8239551,
 8239554,
 8239555,
 8239556,
 8239557,
 8239558,
 8239559,
 8239561,
 8239562,
 8239563,
 8239564,
 8239565,
 8239566,
 8239567,
 8239568,
 8239570,
 8239571,
 8239572,
 8239573,
 8239574,
 8239576,
 8239577,
 8239578,
 8239579,
 8239580,
 8239581,
 8239582,
 8239583,
 8239584,
 8239585,
 8239586,
 8239587,
 8239588,
 8239589,
 8239590,
 8239591,
 8239592,
 8239593,
 8239594,
 8239595,
 8239596,
 8239597,
 8239599,
 8239600,
 8239601,
 8239602,
 8239603,
 8239605,
 8239606,
 8239607,
 8239608,
 8239609,
 8239611,
 8239612,
 8239613,
 8239614,
 8239615,
 8239616,
 8239618,
 8239619,
 8239620,
 8239621,
 8239622,
 8239623,
 8239624,
 8239625,
 8239626,
 8239627,
 8239628,
 8239629,
 8239632,
 8239633,
 8239634,
 8239635,
 8239636,
 8239637,
 8239638,
 8239639,
 8239640,
 8239641,
 8239642,
 8239643,
 8239644,
 8239645,
 8239646,
 8239647,
 8239648,
 8239650,
 8239651,
 8239652,
 8239653,
 8239654,
 8239655,
 8239656,
 8239657,
 8239658,
 8239659,
 8239660,
 8239661,
 8239663,
 8239664,
 8239665,
 8239666,
 8239668,
 8239669,
 8239670,
 8239671,
 8239672,
 8239673,
 8239674,
 8239675,
 8239676,
 8239677,
 8239678,
 8239679,
 8239680,
 8239681,
 8239683,
 8239684,
 8239685,
 8239686,
 8239687,
 8239688,
 8239690,
 8239691,
 8239692,
 8239693,
 8239694,
 8239695,
 8239696,
 8239697,
 8239698,
 8239699,
 8239700,
 8239701,
 8239702,
 8239704,
 8239706,
 8239708,
 8239709,
 8239710,
 8239712,
 8239713,
 8239714,
 8239715,
 8239718,
 8239719,
 8239720,
 8239721,
 8239723,
 8239724,
 8239725,
 8239727,
 8239728,
 8239729,
 8239730,
 8239732,
 8239733,
 8239734,
 8239735,
 8239736,
 8239737,
 8239738,
 8239739,
 8239740,
 8239741,
 8239742,
 8239743,
 8239744,
 8239745,
 8239746,
 8239747,
 8239748,
 8239749,
 8239750,
 8239751,
 8239752,
 8239753,
 8239754,
 8239755,
 8239756,
 8239757,
 8239758,
 8239759,
 8239760,
 8239761,
 8239762,
 8239763,
 8239764,
 8239765,
 8239767,
 8239768,
 8239769,
 8239770,
 8239771,
 8239772,
 8239773,
 8239774,
 8239777,
 8239778,
 8239779,
 8239780,
 8239781,
 8239782,
 8239783,
 8239784,
 8239785,
 8239786,
 8239788,
 8239789,
 8239791,
 8239792,
 8239793,
 8239794,
 8239795,
 8239797,
 8239798,
 8239799,
 8239800,
 8239801,
 8239802,
 8239803,
 8239804,
 8239805,
 8239806,
 8239807,
 8239808,
 8239809,
 8239810,
 8239811,
 8239812,
 8239813,
 8239814,
 8239815,
 8239816,
 8239817,
 8239818,
 8239819,
 8239820,
 8239821,
 8239822,
 8239823,
 8239825,
 8239826,
 8239827,
 8239828,
 8239829,
 8239830,
 8239831,
 8239832,
 8239833,
 8239834,
 8239835,
 8239836,
 8239837,
 8239839,
 8239840,
 8239841,
 8239842,
 8239843,
 8239844,
 8239845,
 8239846,
 8239850,
 8239851,
 8239852,
 8239853,
 8239854,
 8239855,
 8239858,
 8239859,
 8239860,
 8239861,
 8239862,
 8239863,
 8239864,
 8239865,
 8239866,
 8239867,
 8239868,
 8239869,
 8239870,
 8239871,
 8239872,
 8239873,
 8239874,
 8239875,
 8239876,
 8239877,
 8239878,
 8239879,
 8239881,
 8239882,
 8239883,
 8239885,
 8239886,
 8239887,
 8239888,
 8239889,
 8239890,
 8239892,
 8239893,
 8239895,
 8239896,
 8239897,
 8239898,
 8239900,
 8239901,
 8239902,
 8239903,
 8239904,
 8239905,
 8239906,
 8239907,
 8239908,
 8239912,
 8239914,
 8239915,
 8239916,
 8239917,
 8239920,
 8239921,
 8239922,
 8239923,
 8239924,
 8239925,
 8239926,
 8239927,
 8239928,
 8239929,
 8239931,
 8239932,
 8239933,
 8239934,
 8239935,
 8239937,
 8239939,
 8239940,
 8239941,
 8239942,
 8239943,
 8239944,
 8239945,
 8239946,
 8239947,
 8239948,
 8239950,
 8239952,
 8239953,
 8239955,
 8239956,
 8239957,
 8239959,
 8239960,
 8239961,
 8239962,
 8239964,
 8239968,
 8239969,
 8239970,
 8239971,
 8239973,
 8239975,
 8239976,
 8239977,
 8239978,
 8239979,
 8239980,
 8239982,
 8239983,
 8239984,
 8239985,
 8239986,
 8239988,
 8239989,
 8239990,
 8239991,
 8239992,
 8239993,
 8239994,
 8239995,
 8239996,
 8239997,
 8239998,
 8239999,
 8240000,
 8240002,
 8240003,
 8240004,
 8240006,
 8240007,
 8240008,
 8240009,
 8240010,
 8240011,
 8240012,
 8240013,
 8240014,
 8240015,
 8240016,
 8240017,
 8240018,
 8240019,
 8240020,
 8240021,
 8240022,
 8240023,
 8240025,
 8240027,
 8240028,
 8240031,
 8240032,
 8240033,
 8240034,
 8240035,
 8240036,
 8240037,
 8240038,
 8240039,
 8240040,
 8240041,
 8240042,
 8240043,
 8240044,
 8240045,
 8240046,
 8240047,
 8240048,
 8240049,
 8240050,
 8240051,
 8240052,
 8240053,
 8240054,
 8240055,
 8240058,
 8240059,
 8240061,
 8240062,
 8240063,
 8240064,
 8240065,
 8240066,
 8240067,
 8240068,
 8240069,
 8240070,
 8240071,
 8240073,
 8240074,
 8240075,
 8240076,
 8240077,
 8240078,
 8240079,
 8240080,
 8240081,
 8240082,
 8240083,
 8240084,
 8240085,
 8240086,
 8240088,
 8240090,
 8240091,
 8240092,
 8240093,
 8240094,
 8240095,
 8240096,
 8240097,
 8240101,
 8240102,
 8240103,
 8240104,
 8240105,
 8240106,
 8240107,
 ...]

In [68]:
df_cgsse2[df_cgsse2["DIRECTORIO"]==8238991]

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
40,20250626,6,2025,8238991,1,1,1,10,NaN,1,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,2.0,1.0,1.0
41,20250626,6,2025,8238991,1,2,1,10,NaN,1,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,1.0,2.0,1.0

In [69]:
df_cgsse2[["DIRECTORIO","SECUENCIA_P","ORDEN","PER"]]

       DIRECTORIO  SECUENCIA_P  ORDEN   PER
0         8238974            1      1  2025
1         8238974            1      2  2025
2         8238975            1      1  2025
3         8238975            1      2  2025
4         8238975            1      3  2025
...           ...          ...    ...   ...
67851     8283060            1      1  2025
67852     8283060            1      2  2025
67853     8283062            1      1  2025
67854     8283062            1      2  2025
67855     8283062            1      3  2025

[67856 rows x 4 columns]

In [70]:
#CALCULAR POBLACIÓN TOTAL
PT =  df_cgsse2['FEX_C18'].sum()
print(f' La población total de referencia para Colombia basado en el modulo cgsse de la GEIH y el factor de expansión es {PT}')

 La población total de referencia para Colombia basado en el modulo cgsse de la GEIH y el factor de expansión es 52045001.000009045

In [71]:
int(df_o['FEX_C18'].sum())

23752952

In [72]:
int(df_d['FEX_C18'].sum())

16900463

In [73]:
#población total: desagregación hombres y mujeres
PH = df_cgsse2[df_cgsse2['P3271']==1]['FEX_C18'].sum()
PM = df_cgsse2[df_cgsse2['P3271']==2]['FEX_C18'].sum()
print(f' Hombres : {PH}')
print(f' Mujeres:  {PM}')

 Hombres : 25304270.000003804
 Mujeres:  26740731.000005245

In [74]:
# calcular población total del quindío
PTQ = df_cgsse2[df_cgsse2["DPTO"]==63]["FEX_C18"].sum()
PTQ

np.float64(603068.649439007)

In [75]:
#Calculando cantidad de hombres y de mujeres
PHQ = df_cgsse[(df_cgsse['DPTO']==63) & (df_cgsse['P3271']==1)]['FEX_C18'].sum()
PMQ = df_cgsse[(df_cgsse['DPTO']==63) & (df_cgsse['P3271']==2)]['FEX_C18'].sum()
print(f' Hombres del Quindio : {PHQ}')
print(f' Mujeres del Quindio:  {PMQ}')

 Hombres del Quindio : 297925.64044618
 Mujeres del Quindio:  305143.00899282703

In [76]:
16900463+23752952

40653415

In [77]:
#Calculo de hombres en desempleo 
df_d_genero = pd.merge(df_o, df_cgsse[["DIRECTORIO","SECUENCIA_P","ORDEN","P3271"]],on=["DIRECTORIO","SECUENCIA_P","ORDEN"],how = "left")

In [78]:
#calculo de hombres en desempleo
dh = df_d_genero[df_d_genero["P3271"]==1]["FEX_C18"].sum()

In [79]:
#calculo mujeres en desempleo
dm = df_d_genero[df_d_genero["P3271"]==2]["FEX_C18"].sum()

In [80]:
print (f"Hombres en desempleo: {int(dh)}")

Hombres en desempleo: 13860862

In [81]:
print (f"Mujeres en desempleo: {int(dm)}")

Mujeres en desempleo: 9892089

In [82]:
#agregar columnas de características generales hacia no ocupados
df_n_o_genero = pd.merge(df_d,df_cgsse2[["DIRECTORIO","SECUENCIA_P","ORDEN","P3271"]],on = ["DIRECTORIO","SECUENCIA_P","ORDEN"], how = "left")

In [83]:
#mujeres en empleo
Phno = df_n_o_genero[df_n_o_genero["P3271"]==1]["FEX_C18"].sum()
Phmo = df_n_o_genero[df_n_o_genero["P3271"]==2]["FEX_C18"].sum()

In [84]:
print(f"Hombres : {Phno}")
print(f"Mujeres : {Phmo}")

Hombres : 5637651.124199245
Mujeres : 11262812.215548996

In [85]:
#Agregar columnas de características generales hacia Fuerza de trabajo
df_f_genero = pd.merge(df_ft,df_cgsse2[["DIRECTORIO","SECUENCIA_P","ORDEN","P3271"]], on = ["DIRECTORIO","SECUENCIA_P","ORDEN"], how = "left")

In [86]:
Phf = df_f_genero[df_f_genero["P3271"]==1]["FEX_C18"].sum()
Pmf = df_f_genero[df_f_genero["P3271"]==2]["FEX_C18"].sum()

In [87]:
#resultados
print(f"Hombres : {Phf}")
print(f"Mujeres : {Pmf}")

Hombres : 19498514.00000009
Mujeres : 21154902.000004

In [88]:
#sacar la población total de desempleo en el quindío, sacar cantidad de hombres y mujeres desempleados en el Quindío.
PhQ =  df_n_o_genero[(df_n_o_genero["DPTO"]==63)&(df_n_o_genero["P3271"]==1)]["FEX_C18"].sum()
Phm = df_n_o_genero[(df_n_o_genero["DPTO"]==63)&(df_n_o_genero["P3271"]==2)]["FEX_C18"].sum()
print (f"Hombres en desempleo en el Quindío : {PhQ}")
print (f"Mujeres en desempleo en el Quindío : {Phm}")

Hombres en desempleo en el Quindío : 90281.15984383199
Mujeres en desempleo en el Quindío : 155120.58323295298